<<<<<<< HEAD
=======

>>>>>>> 289fb23019f049e78edf03069ee7b1b551cc9399
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
<<<<<<< HEAD
=======

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
>>>>>>> 289fb23019f049e78edf03069ee7b1b551cc9399
